<div class="model-law-panel-heading">
  <div class="row vertical-align-center">
    <div class="model-law-heading-position col-sm-1">
      {{ position }}
    </div>
    <h3 class="model-law-heading-title col-sm-7">
      {{ title }}
    </h3>
    {% if score %}
      <div class="model-law-heading-score col-sm-4">
        {{ score }}
      </div>
    {% endif %}
  </div>
</div>
