<div class="model-law-subcomponent row">
  <div class="model-law-subcomponent-status col-sm-1">
    {{ status }}
  </div>
  <div class="model-law-subcomponent-number col-sm-1">
    {{ number }}
  </div>
  <div class="model-law-subcomponent-title col-sm-10">
    <div class="model-law-subcomponent-title-content">
    	{{ subcomponent }}
    </div>
  </div>
</div>
