<div class="model-law-body row">
  <div class="model-law-body-main col-sm-7 col-sm-offset-1">
    <h4 class="model-law-component-question">{{ question }}</h4>
    <div class="model-law-component-description">
      {{ text }}
    </div>
  </div>
  <div class="model-law-body-sidebar col-sm-4">
    <h4>Subcomponents</h4>
    <div class="status-key">
      <div class="status-key__title">Key</div>
      {{ key }}
    </div>
    <div class="model-law-subcomponent-groups">
      {{ subcomponent_groups }}
    </div>
  </div>
</div>
