<!-- Add you custom twig html here -->
<div class="email-signup">
  <div class="image-filters">
    <div class="image-background">
      <img src="/themes/custom/napcs2017/assets/img/email-signup.png" alt="" />
    </div>
    <div class="color-overlay"></div>
  </div>
  <div class="text-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text">
          <h3>Get regular updates on charter schools</h3>
          <div class="hbspt-form"></div>
        </div>
      </div>
    </div>
  </div>
</div>
