{#
  this shows if the user hasn't selected a job listing to apply to.
#}
<div class="content">
  <div class="edit-form-error"><h4>Please Select a job listing to apply to.</h4></div>
  <div class="link">
    <a href="/job-board">Back to Browse Job Posts</a>
  </div>
</div>
