<div class="hexagon-stat">
  {% include '@napcs2017/components/hexagon/hexagon.html.twig' with {
    'color': 'white',
    'figure': figure,
    'unit': unit,
  } %}
  <div class="hexagon-stat__label">
    {{ label }}
  </div>
</div>
