</div>
	<div class="container"> 
		<div class="row">
			<div class="col-sm-2 left-basic-sidebar">
				{{ content.sidebar }}
			</div>
			<div class="col-sm-10">
				{{ content.main }}
			</div>
		</div>
	</div>