<div class="interior-page-header">
  <div class="text-overlay">
    <div class="container">
      {{ page.header_text_overlay }}
      <div class="row">
        <div class="col-sm-12 banner-node-text">
          {{ node.field_banner_text.value }}
          {{ page.banner_content }}
        </div>
      </div>
    </div>
  </div>
  <div class="color-overlay"></div>
    <div class="header-background-img">{{ page.header_background_image }}</div>
</div>
